.main-div {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    >.login-container {
        width: 300px;
        background-color: #58A4B0;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        >form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            align-items: center;
            justify-content: center;
        }


        -webkit-box-shadow: -1px 7px 28px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 7px 28px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 7px 28px 0px rgba(0, 0, 0, 0.75);
    }


}